In [1]:
# Tuple is a immutable list (final/non-editable), cannot be modified
first_tuple = ("Monty Python", 30, "Baker Street", 5.8, 30)
print(first_tuple[0])
second_tuple = ([1,2,3],[1,2],5,'good')
second_tuple

Monty Python

([1, 2, 3], [1, 2], 5, 'good')

In [2]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853) 
print(city_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [3]:
new_tuple = city_tuple
print(new_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [ ]:
# new_tuple[1] = 13.8877

In [4]:
b = city_tuple[:-1]
print(b)
print(len(b))

('Mumbai', 18.9949521)
2

In [5]:
c = list(b)
print("c is: {0} b is {1}".format(c, b))
c= tuple(c)
print("c is now a tuple: {0}".format(c))

c is: ['Mumbai', 18.9949521]
c is now a tuple: ('Mumbai', 18.9949521)

In [8]:
print('c is: ', c, '. b is ', b)

c is:  ('Mumbai', 18.9949521) . b is  ('Mumbai', 18.9949521)

https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences
Can a tuple consist of a list as an element? (Yes/No)

In [9]:
t = (1, 2, 4, 3)
print(t[3])

# t[3] = 5

print(t[1:3])

print(len(t))

3
(2, 4)
4