# Introduction to Python

Objective:
1. Learn enough python for Data Science
2. Create basic programs
3. Understand CLI, python scripts

# Let's Start

In [1]:
a = 123

In [2]:
b = "string"

In [3]:
c = 12.23

In [5]:
a,b,c

(123, 'string', 12.23)

#### Data types in python
1. int
2. float
3. string
4. list
5. tuple
6. dictionary

In [6]:
ls = [] # empty list

In [7]:
ls

[]

In [9]:
# keyword type

type(ls)

list

In [7]:
ls = [12,123,12,312,312,3123]
ls

[12, 123, 12, 312, 312, 3123]

In [8]:
# keyword len
len(ls)

6

__Indexing in list__

In [12]:
# indexing in list
ls[0] #acces the first element

12

In [13]:
ls[4]

312

_NEGETIVE INDEXING IN PYTHON_

In [14]:
ls[-1] # gives you the last element

3123

In [15]:
ls[-2] # second last

312

In [9]:
ls

[12, 123, 12, 312, 312, 3123]

In [16]:
ls[4] == ls[-2] #? Yes/NO

True

In [17]:
# accessing a series of elements in list
ls[0:4]

[12, 123, 12, 312]

But usually by default we don't mention anyhting if we need form the starting

In [18]:
ls[:4]

[12, 123, 12, 312]

In [19]:
# Question
ls[-4:]

[12, 312, 312, 3123]

In [20]:
# Question
ls[4:]

[312, 3123]

In [10]:
ls

[12, 123, 12, 312, 312, 3123]

In [24]:
# ls[    start  : end   : skip  ]
ls[ 1 : -1 ]

[123, 12, 312, 312]

In [22]:
ls # our original list

[12, 123, 12, 312, 312, 3123]

In [26]:
ls[  :  : 2]

[12, 12, 312]

In [27]:
# Queston
ls[ : : 3 ]

[12, 312]

In [28]:
ls[-5::2]

[123, 312, 3123]

In [12]:
ls[:5]

[12, 123, 12, 312, 312]

In [14]:
ls

[12, 123, 12, 312, 312, 3123]

#### Dictionary

In [29]:
dt = {} # empty dictionary

In [30]:
type(dt)

dict

In [31]:
dt = {"Name": "Hasan",
        "Age": 25,
        "RollNo" : 9102}
dt

{'Name': 'Hasan', 'Age': 25, 'RollNo': 9102}

In [32]:
len(dt) # lenght of elements

3

In [36]:
dt["Name"],dt["Age"],dt["RollNo"] # access elements by their keys

('Hasan', 25, 9102)

`NOTE:` We cannot have duplicate keys.

In [38]:
dt = {"Rko": 23124,
        "Rko":123} # only takes the last key in case of duplicate keys
dt

{'Rko': 123}

### Functions of Lists and Dictionaries

__lists__

In [40]:
ls.append( 23 ) # press shift+tab 
ls

[12, 123, 12, 312, 312, 3123, 23]

In [41]:
ls.clear() #
ls

[]

In [42]:
ls = [2344,54,43,543,23,3,634,66,78]
ls

[2344, 54, 43, 543, 23, 3, 634, 66, 78]

In [44]:
ls.count(54), ls.count(0)

(1, 0)

In [ ]:
ls. # press tab after the (.) period

__Dictionaries__

In [46]:
dt = {"Name": "Hasan",
        "Age": 25,
        "RollNo" : 9102}
dt

{'Name': 'Hasan', 'Age': 25, 'RollNo': 9102}

In [47]:
dt.keys()  #after . press tab to get list of all functions

dict_keys(['Name', 'Age', 'RollNo'])

In [48]:
dt.values()

dict_values(['Hasan', 25, 9102])

In [49]:
dt.items()

dict_items([('Name', 'Hasan'), ('Age', 25), ('RollNo', 9102)])

In [162]:
# How to add new elements to a dictionary

#1 

dt["class"] = 12


# 2

dt.update({"blood_grp" : "O+ve"})

In [163]:
dt

{'Name': 'Hasan', 'Age': 25, 'RollNo': 9102, 'class': 12, 'blood_grp': 'O+ve'}

### Iterations
keywords
1. for
2. in : which basically means is in ?
3. range : counter function, which gives to a series numbers from a start value till end value

In [164]:
for i in range(1,11):
    print ( i ) # indentation of 1 tab or 4 spaces
    # indentation means that the print statement is inside for

1
2
3
4
5
6
7
8
9
10

In [165]:
# without indentation
for i in range(1,5):
print (i)

IndentationError: expected an indented block after 'for' statement on line 2 (1340713417.py, line 3)

In [166]:
# details about range function

range(start, end, skip)

NameError: name 'start' is not defined

In [15]:
for i in range(1,5,2):
    print (i)

1
3

In [16]:
for i in range(1,10,3):
    print (i)

1
4
7

In [170]:
for i in range(5): # by default starts with 0
    print (i)

0
1
2
3
4

#### Iteration over datatypes

In [171]:
ls

[2344, 54, 43, 543, 23, 3, 634, 66, 78]

In [172]:
for i in ls:
    print (i)

2344
54
43
543
23
3
634
66
78

In [70]:
dt

{'Name': 'Hasan', 'Age': 25, 'RollNo': 9102, 'class': 12, 'blood_grp': 'O+ve'}

In [72]:
for i in dt.keys(): # loop over only keys
    print (i)

Name
Age
RollNo
class
blood_grp

In [73]:
for i in dt.values(): # loop over only keys
    print (i)

Hasan
25
9102
12
O+ve

In [76]:
for k,v in dt.items(): # loop over keys and values
    print ("Key is:",k,"            Value is :" , v)

Key is: Name             Value is : Hasan
Key is: Age             Value is : 25
Key is: RollNo             Value is : 9102
Key is: class             Value is : 12
Key is: blood_grp             Value is : O+ve

#### Strings

In [20]:
tr = "My name is Hasan"

In [21]:
str1 = "areraara"
str2 = 'asdasdsa'
str3 = '''

        aljsndalkndasnda aldmsalkdmalkdmalsm
        asdadas asdaasda
        asdaddsa
'''

In [22]:
str1, str2, str3

('areraara',
 'asdasdsa',
 '\n\n        aljsndalkndasnda aldmsalkdmalkdmalsm\n        asdadas asdaasda\n        asdaddsa\n')

#### Functions in strings

In [23]:
tr

'My name is Hasan'

In [24]:

tr.lower() # lowercase

'my name is hasan'

In [88]:
tr.upper() #uppercase

'MY NAME IS HASAN'

In [91]:

tr.capitalize() # first letter as captial

'My name is hasan'

In [94]:

tr.title() # capitalize every first letter  of the words in the string

'My Name Is Hasan'

In [96]:
'231asadsa'.isalnum()

True

In [97]:
'121212'.isalnum()

True

In [26]:
'asdassa'.isalpha() # checks wether alphabets

True

In [100]:
tr.islower() # check wether is lower ?

False

'My name is Hasan'

 __INdexing in String__

In [102]:
tr

'My name is Hasan'

In [104]:
tr[-1]

'n'

In [105]:
tr[:4]

'My n'

In [107]:
tr[::2]

'M aei aa'

In [108]:
for i in tr:
    print (i)

M
y

n
a
m
e

i
s

H
a
s
a
n

In [109]:
# split , strip

In [110]:
tr

'My name is Hasan'

In [113]:
tr.split() # by default it splits on space

['My', 'name', 'is', 'Hasan']

In [28]:
tr.split("s")

['My name i', ' Ha', 'an']

In [29]:
# Strip
# @ usually used for removing empty spaces before or after a string
tr = "     My Name is Hasan"

In [30]:
tr

'     My Name is Hasan'

In [119]:
tr.strip() #remove empty space at both ends of string

'My Name is Hasan'

In [122]:
tr.strip("nM ")

'y Name is Hasa'

In [36]:
#Question
tr.strip("M ")

'y Name is Hasan'

In [136]:
tr.strip("nM ")

'y Name is Hasa'

### Functions

In [37]:

def add_one(num):

    return num + 1000

In [38]:
for i in range(5):
    print (add_one(i))

1000
1001
1002
1003
1004

In [39]:
# Exercise
string = "   Phrase delivers strong, measurable results for our global customers—we've got the proof. Translate your mobile application into any language at a fraction of the cost with Phrase."

In [51]:
# remove all the punctuations in this string ? 
new_str = ""

for i in string:
    if (i.isalnum()) or (i is " "):
        new_str += i

        
string

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/hq/y0qwwt4s0w57kn5nqr9tkkpw0000gn/T/ipykernel_1098/3233641539.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if (i.isalnum()) | (i is " "):

"   Phrase delivers strong, measurable results for our global customers—we've got the proof. Translate your mobile application into any language at a fraction of the cost with Phrase."

In [45]:
string.replace(",","")

"   Phrase delivers strong measurable results for our global customers—we've got the proof. Translate your mobile application into any language at a fraction of the cost with Phrase."

In [52]:
# extract all words in this string
new_str.split()

['Phrase',
 'delivers',
 'strong',
 'measurable',
 'results',
 'for',
 'our',
 'global',
 'customersweve',
 'got',
 'the',
 'proof',
 'Translate',
 'your',
 'mobile',
 'application',
 'into',
 'any',
 'language',
 'at',
 'a',
 'fraction',
 'of',
 'the',
 'cost',
 'with',
 'Phrase']

In [57]:
# remove all words which have less than 3 letter. 
new_ls = []
for i in new_str.split():
    if len(i)>3:
        new_ls.append(i)
        
new_ls

['Phrase',
 'delivers',
 'strong',
 'measurable',
 'results',
 'global',
 'customersweve',
 'proof',
 'Translate',
 'your',
 'mobile',
 'application',
 'into',
 'language',
 'fraction',
 'cost',
 'with',
 'Phrase']

In [58]:
a =5
b = 8

In [59]:
a,b

(5, 8)

In [60]:
a * b

40

In [61]:
a - b

-3

In [62]:
 b  - a

3

In [63]:
b + a

13

In [149]:
b / a

1.6

In [151]:
## integer division
b // a # it return just the int part of the quotent ?

1

In [65]:
10/3

3.3333333333333335

In [155]:

10 // 3

3

In [67]:
13//4

3

In [69]:
# remainder

11 % 3

2

In [70]:
# exrcise 2

In [72]:
def is_prime(num):
    """Return Bool for wether the number is prime or not"""
    
    if num <=1:
        return False
    else:
        for i in range(2, num//2 + 1 ):
            if num % i == 0:
                return False
        
    return True

In [73]:
for i in range(2,11):
    print (f"The number {i} is ", is_prime(i))

The number 2 is  True
The number 3 is  True
The number 4 is  False
The number 5 is  True
The number 6 is  False
The number 7 is  True
The number 8 is  False
The number 9 is  False
The number 10 is  False